@import '../../../styles/settings.scss';

.title {
  text-align: center;
  color: $color-LightGreen;
  font-size: 28px;
  padding: 8px 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $color-light;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
