@import '../../../styles/settings.scss';

.tableContainer {
  width: 100%;
  overflow-x: auto;
  text-align: center;
  padding: 20px 20px;
  margin-bottom: 20px;
  background-color: $color-light;
  border: 1px solid $color-dark;

  .table {
    border-color: $color-LightGreen;
    text-align: center;
    margin-top: 20px;

    .id,
    .date,
    .totalPrice,
    .comment1,
    .productTitle,
    .amount,
    .color,
    .size,
    .price,
    .comment2 {
      color: $color-darkGreen;
    }
  }
}
